*.o
*.xcl
*.fas
*.fasl
*.lib
*.lx64fsl
*.trace
*.d
*.lo
*.la
*.exe
*.log
*.tar.gz

gc/base_lib
gc/c++
gc/gc.a
gc/if_mach
gc/if_not_there
gc/test_cpp
gc/threadlibs

# gc 7.2alpha2
gc/gctest
gc/libatomic_ops-1.2/Makefile
gc/libatomic_ops-1.2/config.status
gc/libatomic_ops-1.2/doc/Makefile
gc/libatomic_ops-1.2/src/.deps/
gc/libatomic_ops-1.2/src/Makefile
gc/libatomic_ops-1.2/src/atomic_ops/Makefile
gc/libatomic_ops-1.2/src/atomic_ops/sysdeps/Makefile
gc/libatomic_ops-1.2/src/config.h
gc/libatomic_ops-1.2/src/libatomic_ops.a
gc/libatomic_ops-1.2/src/libatomic_ops_gpl.a
gc/libatomic_ops-1.2/src/stamp-h1
gc/libatomic_ops-1.2/tests/.deps/
gc/libatomic_ops-1.2/tests/Makefile
gc/libatomic_ops-1.2/tests/list_atomic.i
gc/libatomic_ops-1.2/autom4te.cache/
gc/libatomic_ops-install/

mpir/.libs/
mpir/Makefile
mpir/config.h
mpir/config.m4
mpir/config.status
mpir/cxx/Makefile
mpir/doc/Makefile
mpir/gmp-mparam.h
mpir/libtool
mpir/mpf/.libs/
mpir/mpf/Makefile
mpir/mpir.h
mpir/mpn/.libs/
mpir/mpn/Makefile

# following are all symlinks
mpir/mpn/*.c
mpir/mpn/*.as
mpir/mpn/*.asm

mpir/mpq/.libs/
mpir/mpq/Makefile
mpir/mpz/.libs/
mpir/mpz/Makefile
mpir/printf/.libs/
mpir/printf/Makefile
mpir/scanf/.libs/
mpir/scanf/Makefile
mpir/stamp-h1
mpir/tests/Makefile
mpir/tests/cxx/Makefile
mpir/tests/devel/Makefile
mpir/tests/misc/Makefile
mpir/tests/mpf/Makefile
mpir/tests/mpn/Makefile
mpir/tests/mpq/Makefile
mpir/tests/mpz/Makefile
mpir/tests/rand/Makefile
mpir/tune/Makefile
mpir/tune/sqr_basecase.c
mpir/yasm/.deps/
mpir/yasm/Makefile
mpir/yasm/config.h
mpir/yasm/config.status
mpir/yasm/gas-token.c
mpir/yasm/genmacro
mpir/yasm/genmodule
mpir/yasm/genperf
mpir/yasm/genstring
mpir/yasm/genversion
mpir/yasm/lc3bid.c
mpir/yasm/libyasm-stdint.h
mpir/yasm/libyasm.a
mpir/yasm/license.c
mpir/yasm/module.c
mpir/yasm/nasm-macros.c
mpir/yasm/nasm-token.c
mpir/yasm/nasm-version.c
mpir/yasm/po/Makefile
mpir/yasm/po/Makefile.in
mpir/yasm/po/POTFILES
mpir/yasm/re2c
mpir/yasm/stamp-h1
mpir/yasm/version.mac
mpir/yasm/vsyasm
mpir/yasm/win64-gas.c
mpir/yasm/win64-nasm.c
mpir/yasm/x86cpu.c
mpir/yasm/x86insn_gas.c
mpir/yasm/x86insn_nasm.c
mpir/yasm/x86regtmod.c
mpir/yasm/yasm
mpir/yasm/ytasm
mpir/yasm_mac.inc

mpfr/.deps/
mpfr/.libs/
mpfr/Makefile
mpfr/autom4te.cache/
mpfr/config.log
mpfr/config.status
mpfr/gmp.h
mpfr/libtool
mpfr/mparam.h
mpfr/tests/.deps/
mpfr/tests/Makefile

ansi-tests/compile-file-test-lp.lsp
ansi-tests/file-that-was-renamed.txt
ansi-tests/foo.fasl
ansi-tests/foo.lsp
ansi-tests/foo.txt
ansi-tests/foo.ufsl
ansi-tests/ldtest.lsp
ansi-tests/scratch/
ansi-tests/temp.dat
ansi-tests/tmp.dat
ansi-tests/tmp.txt
ansi-tests/tmp2.dat
ansi-tests/tmp.dat.bak

FILE-THAT-WAS-RENAMED.TXT

build
version
status
tags
xcl_home.h
xcl
xcl.nm
