*.o
*.xcl
*.fas
*.fasl
*.lib
*.lx64fsl
*.trace
*.d
*.lo
*.la
*.exe
*.log
*.tar.gz

gc/base_lib
gc/c++
gc/gc.a
gc/if_mach
gc/if_not_there
gc/test_cpp
gc/threadlibs

# gc 7.2alpha2
gc/gctest
gc/libatomic_ops-1.2/Makefile
gc/libatomic_ops-1.2/config.status
gc/libatomic_ops-1.2/doc/Makefile
gc/libatomic_ops-1.2/src/.deps/
gc/libatomic_ops-1.2/src/Makefile
gc/libatomic_ops-1.2/src/atomic_ops/Makefile
gc/libatomic_ops-1.2/src/atomic_ops/sysdeps/Makefile
gc/libatomic_ops-1.2/src/config.h
gc/libatomic_ops-1.2/src/libatomic_ops.a
gc/libatomic_ops-1.2/src/libatomic_ops_gpl.a
gc/libatomic_ops-1.2/src/stamp-h1
gc/libatomic_ops-1.2/tests/.deps/
gc/libatomic_ops-1.2/tests/Makefile
gc/libatomic_ops-1.2/tests/list_atomic.i
gc/libatomic_ops-install/

gmp/.libs/
gmp/Makefile
gmp/config.h
gmp/config.log
gmp/config.m4
gmp/config.status
gmp/cxx/Makefile
gmp/demos/Makefile
gmp/demos/calc/Makefile
gmp/demos/calc/calc-config.h
gmp/demos/expr/Makefile
gmp/demos/pexpr-config.h
gmp/doc/Makefile
gmp/doc/gmp.info*
gmp/fib_table.h
gmp/gen-bases
gmp/gen-fac_ui
gmp/gen-fib
gmp/gen-psqr
gmp/gmp-mparam.h
gmp/gmp.h
gmp/libtool
gmp/mp.h
gmp/mp_bases.h
gmp/mpbsd/Makefile
gmp/mpf/.libs/
gmp/mpf/Makefile

# following are all symlinks
gmp/mpn/*.c
gmp/mpn/*.asm

gmp/mpn/.libs/
gmp/mpn/Makefile
gmp/mpn/perfsqr.h
gmp/mpq/.libs/
gmp/mpq/Makefile
gmp/mpz/.libs/
gmp/mpz/Makefile
gmp/mpz/fac_ui.h
gmp/printf/.libs/
gmp/printf/Makefile
gmp/scanf/.libs/
gmp/scanf/Makefile
gmp/stamp-h1
gmp/tests/Makefile
gmp/tests/cxx/Makefile
gmp/tests/devel/Makefile
gmp/tests/misc/Makefile
gmp/tests/mpbsd/Makefile
gmp/tests/mpf/Makefile
gmp/tests/mpn/Makefile
gmp/tests/mpq/Makefile
gmp/tests/mpz/Makefile
gmp/tests/rand/Makefile
gmp/tune/Makefile
gmp/tune/sqr_basecase.c

mpfr/.deps/
mpfr/.libs/
mpfr/Makefile
mpfr/config.log
mpfr/config.status
mpfr/libtool
mpfr/mparam.h
mpfr/tests/.deps/
mpfr/tests/Makefile

ansi-tests/compile-file-test-lp.lsp
ansi-tests/file-that-was-renamed.txt
ansi-tests/foo.fasl
ansi-tests/foo.lsp
ansi-tests/foo.txt
ansi-tests/foo.ufsl
ansi-tests/ldtest.lsp
ansi-tests/scratch/
ansi-tests/temp.dat
ansi-tests/tmp.dat
ansi-tests/tmp.txt
ansi-tests/tmp2.dat
ansi-tests/tmp.dat.bak

FILE-THAT-WAS-RENAMED.TXT

build
version
status
tags
xcl_home.h
xcl
