*.o
*.xcl
*.d
*.lo
*.la

gc/base_lib
gc/c++
gc/gc.a
gc/if_mach
gc/if_not_there
gc/test_cpp
gc/threadlibs

gmp/.libs/
gmp/Makefile
gmp/config.h
gmp/config.log
gmp/config.m4
gmp/config.status
gmp/cxx/Makefile
gmp/demos/Makefile
gmp/demos/calc/Makefile
gmp/demos/calc/calc-config.h
gmp/demos/expr/Makefile
gmp/demos/pexpr-config.h
gmp/doc/Makefile
gmp/doc/gmp.info*
gmp/fib_table.h
gmp/gen-bases
gmp/gen-fac_ui
gmp/gen-fib
gmp/gen-psqr
gmp/gmp-mparam.h
gmp/gmp.h
gmp/libtool
gmp/mp.h
gmp/mp_bases.h
gmp/mpbsd/Makefile
gmp/mpf/.libs/
gmp/mpf/Makefile

# following are all symlinks
gmp/mpn/*.c
gmp/mpn/*.asm

gmp/mpn/.libs/
gmp/mpn/Makefile
gmp/mpn/perfsqr.h
gmp/mpq/.libs/
gmp/mpq/Makefile
gmp/mpz/.libs/
gmp/mpz/Makefile
gmp/mpz/fac_ui.h
gmp/printf/.libs/
gmp/printf/Makefile
gmp/scanf/.libs/
gmp/scanf/Makefile
gmp/stamp-h1
gmp/tests/Makefile
gmp/tests/cxx/Makefile
gmp/tests/devel/Makefile
gmp/tests/misc/Makefile
gmp/tests/mpbsd/Makefile
gmp/tests/mpf/Makefile
gmp/tests/mpn/Makefile
gmp/tests/mpq/Makefile
gmp/tests/mpz/Makefile
gmp/tests/rand/Makefile
gmp/tune/Makefile
gmp/tune/sqr_basecase.c

mpfr/.deps/
mpfr/.libs/
mpfr/Makefile
mpfr/config.log
mpfr/config.status
mpfr/libtool
mpfr/mparam.h
mpfr/tests/.deps/
mpfr/tests/Makefile

FILE-THAT-WAS-RENAMED.TXT
ansi-tests/tmp.dat.bak
build
tags
x
xcl_home.h
